---
layout: default
---
<!-- _layouts/teaching.html -->
<html>
<head>
    <title>Teaching</title>
    <style>
        .video-grid {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .video {
            margin: 20px; /* Add margin for spacing */
        }

        .video iframe {
            width: 800px; /* Adjust the width as needed */
            height: 450px; /* Adjust the height as needed */
        }
    </style>
</head>
<body>
    <h2 style="text-align: left;">Advanced NLP Course</h2>

    <p>Here are some lectures from our course "Advanced Natural Language Processing" at TUM. I had for a while the desire to make them accessible to the public, hope you find them interesting! Feel free to explore the content and learn at your own pace, feel free to reach out if you have questions. &#128522 </p>

    <div class="video-grid">
        <div class="video">
            <h4>Lecture 1 - Intro</h4>
            <iframe width="100%" src="https://www.youtube.com/embed/x6Y4u02trdE" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h4>Lecture 2 - LLMs</h4>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/WH6k5SxLfVw" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h4>Lecture 3 - Fine-Tuning</h4>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/WevuoRy6oCM" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="video">
            <h4>Lecture 4 - Explainability</h4>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/UowYtQEKGG8" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="video">
            <h4>Guest Lecture (2025) - Scaling Laws</h4>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/mpL28oz0h6c?si=8TOprL5nuLX5F2Rb" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>
